/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/public/assets
/spec/examples.txt
/app/assets/builds/*
!/app/assets/builds/.keep
/config/credentials/*.key
/node_modules
